body {
    font-family: Arial, "微軟正黑體";
    user-select: none;
    list-style-type: none;
    background-color: #1C1C1C;
    margin: auto;
    /* 可以使網頁水平居中 */
}

.hidden {
    display: none;
}

.fixed-header {
    position: fixed;
    top: 0;
    margin-left: 20px;

    width: 130px;
    background-color: #770101;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: transform 0.3s ease-in-out;
}

.menu {
    display: none;
    position: fixed;
    top: 80px;
    margin-left: 35px;
    text-align: center;

    left: 0;
    width: 100px;
    background-color: #ffffff;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding-top: 10px;
}

.menu a {
    color: #770101;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #770101;
    color: #ffffff;

}

.fixed-header ul {
    list-style-type: none;
    padding: 0;
}

.fixed-header li {
    padding: 5px;
}

.fixed-header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

#main {
    margin-top: 110px;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #ffffffdd;
    text-align: center;
}

#main h0 {
    margin-right: 20px;
    display: block;
    text-align: right;
}

#main h1 {
    margin: 10px;
    display: block;
    text-align: center;
    color: #000000;
    font-size: 25px;
}

#main h2 {
    color: #00000020;
    font-size: 20px;
}

#container {
    float: left;
    width: 50%;
    /* 将宽度设置为一半，以使其并排显示 */
}

#team-container {
    float: left;
    width: 50%;
    /* 将宽度设置为一半，以使其并排显示 */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#team-images {
    margin-left: 15%;
    margin-right: 15%;
    overflow-x: auto;
}

#nikke-images {
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: auto;
    height: 960px;
}

#footer {
    clear: both;
    height: 95px;
    text-align: center;
}

/* 父容器，設定為flex layout，並將元素水平排列 */
.BurstDiv {
    display: flex;
    flex-wrap: wrap;
    /* 允許元素換行 */
    align-items: center;
    /*對齊 */
    gap: 10px;
    /* 子元素之間的間距，可自行調整 */
    margin-bottom: 20px;
    /* 設定父容器的垂直間距 */
}

/* 分隔符號的樣式 */
.separator {
    /*height: 1px;*/
    /* 設定分隔符號的高度 */
    background-color: #000000;
    /* 設定分隔符號的顏色 */
    margin-top: 20px;
    /* 設定分隔符號與圖像之間的距離 */
    margin-bottom: 30px;
    /* 設定分隔符號與下一個 BurstDiv 之間的距離 */
}

/*按鈕樣式*/
button {
    --c: #000000;
    /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-size: 1rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
}

button:hover {
    --_p: 100%;
    color: #FFFFFF;
    transition: background-position .4s, background-size 0s;
}

button:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #FFFFFF;
}