body {
    font-family: Arial, "微軟正黑體";
    user-select: none;
    list-style-type: none;
    background-color: #000000;
    margin: auto;
    /* 可以使網頁水平居中 */
}

.hidden {
    display: none;
}

#header {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#main {
    margin-left: 8%;
    margin-right: 8%;
    background-color: #ffffffdd;
    text-align: center;
}

#main h0 {
    margin-right: 20px;
    display: block;
    text-align: right;
}

#main h1 {
    margin: 10px;
    display: block;
    text-align: center;
    color: #000000;
    font-size: 25px;
}

#main h2 {
    color: #00000020;
    font-size: 20px;
}

#nikke-images {
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: auto;
}

/*#imgbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 46%;
    margin-right: 46%;
    height: 45px;
    background-color: #fffffff3;
    text-align: center;
    gap: 5px;
}*/


#footer {
    clear: both;
    height: 150px;
    text-align: center;
}

/* 父容器，設定為flex layout，並將元素水平排列 */
.MFRDiv {
    display: flex;
    flex-wrap: wrap;
    /* 允許元素換行 */
    align-items: center;
    /*對齊 */
    gap: 20px;
    /* 子元素之間的間距，可自行調整 */
    margin-bottom: 20px;
    /* 設定父容器的垂直間距 */
}

/* 每個組合的容器，設定為flex layout，並將元素垂直排列 */
.imageStarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 水平居中對齊 */
    gap: 5px;
    /* 子元素之間的間距，可自行調整 */

}

/* starImage的CSS，設定其寬度和高度，讓圖片保持原大小 */
.starImage {
    width: 70%;
    /* 可自行調整寬度 */
    height: 70%;
    /* 可自行調整高度 */
    margin-bottom: 2px;
    /* 設定父容器的垂直間距 */
}

/* 分隔符號的樣式 */
.separator {
    /*height: 1px;*/
    /* 設定分隔符號的高度 */
    background-color: #000000;
    /* 設定分隔符號的顏色 */
    margin-top: 20px;
    /* 設定分隔符號與圖像之間的距離 */
    margin-bottom: 30px;
    /* 設定分隔符號與下一個 MFRDiv 之間的距離 */
}

/* 隱藏下拉式選單的箭頭 */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    width: 25px;
    height: 20px;
}

/* IE10+ */
select::-ms-expand {
    display: none;
}

/* IE9 */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

/* 下拉式選單容器的樣式 */
.selectContainer {
    display: flex;
}

/* 個別下拉式選單的樣式（可根據需要調整寬度等） */
.selectContainer select {
    margin-right: 10px;
    /* 設定選單之間的水平間距 */
}

/*按鈕樣式*/
button {
    --c: #000000;
    /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-size: 1rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
}

button:hover {
    --_p: 100%;
    color: #FFFFFF;
    transition: background-position .4s, background-size 0s;
}

button:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #FFFFFF;
}

/* 開關的樣式 */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* 複選框隱藏 */
.switch input {
    display: none;
}

/* 開關軌道的樣式 */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

/* 開關滑塊的樣式（即複選框的圖標） */
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

/* 複選框選中狀態的樣式 */
input:checked+.slider {
    background-color: #000;
}

/* 複選框選中狀態下滑塊的樣式 */
input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* 自訂關閉按鈕的樣式 */
.swal2-close {
    background-color: black;
    color: white;
}